{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Submit Data Page</title>
   <link rel ="icon" href="{% static 'images/neuron-project-logo-blue.png' %}" type ="image/x-icon">
   {% tailwind_css %}
</head>
<body>
   
   <!-- Navigation bar -->
   {% include "navbar.html" %}

   <main class="block mx-auto w-11/12 xl:w-10/12">
      
      <!-- Left/Top Part -->
      <div>
         <div>
            <h1>Submit your data</h1>
            <p>If you are interested in submitting your data, you can do it here!</p>
         </div>
         <div>
            <div class="flex">
               <div>
                  <img class="h-10" src='{% static "images/tick-blue.png" %}' alt="Tick Logo">
               </div>
               <p>Help us and contribute to this repository by submitting your data.</p>
            </div>
            <div class="flex">
               <div>
                  <img class="h-10" src='{% static "images/tick-blue.png" %}' alt="Tick Logo">
               </div>
               <p>We appreciate new data that can bring new insights to push the project forward.</p>
            </div>
            <div class="flex">
               <div>
                  <img class="h-10" src='{% static "images/tick-blue.png" %}' alt="Tick Logo">
               </div>
               <p>Received data will be reviewed and even possibly included in our database repository.</p>
            </div>
         </div>
         <div>
            <h3>Thank you for your contribution!</h3>
         </div>
      </div>

      <!-- Right/Bottom Part -->

   </main>

   <!-- Footer -->
   {% include "footer.html" %}

</body>
</html>