{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Page</title>
   {% tailwind_css %}
</head>
<body>

   <!-- Navigation bar -->
   {% include "navbar.html" %}
   
   <!-- Main Body Content -->
   <main>

      <!-- Hero -->
      <div>
         <h1>Explore and accelerate the knowledge of the neuron networks data with interactive visualisations!</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sapiente iste quidem tempora repudiandae nobis in soluta dolorum voluptatibus sunt.</p>
         <button>
            <a href="#">Explore</a>
         </button>
      </div>

      <!-- Sections: About & Data Submission -->
      <div>
         <!-- About -->
         <div>
            <h1>About the project</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum et quis quaerat. In illum soluta unde accusantium quasi laboriosam autem!</p>
            <button>
               <a href="#">Read More</a>
            </button>
         </div>
         <!-- About -->
         <div>
            <h1>Submit your data!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum et quis quaerat. In illum soluta unde accusantium quasi laboriosam autem!</p>
            <button>
               <a href="#">Submit</a>
            </button>
         </div>
      </div>
   </main>

   <!-- Footer -->
   {% include "footer.html" %}
</body>
</html>