{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Extrasynaptome Central Data Repository</title>
   <link rel ="icon" href="{% static 'images/neuron-project-logo-blue.png' %}" type ="image/x-icon">
   {% tailwind_css %}
</head>
<body>

   <!-- Navigation bar -->
   {% include "navbar.html" %}
   
   <!-- Main Body Content -->
   <main class="block mx-auto w-11/12 xl:w-10/12">

      <!-- Hero -->
      <div class="block pt-28 pb-40 lg:flex lg:justify-between">
         <div class="w-2/3 mx-auto xl:mx-0 xl:w-2/4 xl:my-auto">
            <h1 class="text-center text-3xl font-semibold leading-tight md:text-4xl lg:leading-normal lg:text-left xl:text-5xl xl:leading-snug 2xl:text-6xl 2xl:leading-snug">Explore & visualise<br><span class="text-cardiffMetSecondary font-bold">Extrasynaptic Neural <br> Signalling</span> data.</h1>
            <div class="flex mt-10">
               <button class="mx-auto bg-cardiffMetPrimary py-5 px-12 rounded-md lg:mx-0">
                  <a class="text-white text-lg" href="#">Explore</a>
               </button>
            </div>
         </div>
         <div class="hidden lg:block lg:flex-grow lg:w-2/4">
            <img class="lg:h-full lg:rounded-md lg:shadow-lg" src='{% static "images/neurons-hero-wallpaper.jpg" %}' alt="Neural Network Hero Image">
         </div>
      </div>

      <!-- Sections: About & Data Submission -->
      <div class="grid gap-12 lg:flex xl:gap-20 2xl:gap-32">
         <!-- About -->
         <div class="bg-slate-50 py-16 rounded-md shadow-xl px-5 sm:px-10 md:px-20 lg:px-14 xl:py-24">
            <h1 class="text-3xl font-semibold pb-7 xl:text-5xl">The Project</h1>
            <p class="text-sm leading-4 pb-7 md:text-base xl:text-lg">This web application aims to aid  bioengineering research aiming to understand human being's brain functioning by investigating network neuroscience and connectomics of its nervous systems.</p>
               <a href="#" class="flex gap-1">
                  <span class="font-medium text-cardiffMetSecondary text-sm md:text-base xl:text-lg">Read more</span> 
                  <img class="h-5 my-auto" src='{% static "images/right-arrow.png" %}' alt="Right Arrow">
               </a>
         </div>
      
         <!-- Data Submission -->
         <div class="bg-slate-50 py-16 rounded-md shadow-xl px-5 sm:px-10 md:px-20 lg:px-14 xl:py-24">
            <h1 class="text-3xl font-semibold pb-7 xl:text-5xl">Submit data</h1>
            <p class="text-sm leading-4 pb-7 md:text-base xl:text-lg">To improve the research we believe that our users can contribute as well. If you have data that can contribute to the CardiffMet data repository, please, do not hesitate and submit your own data for review and even their potential implementation.</p>
               <a href="#" class="flex gap-1">
                  <span class="font-medium text-cardiffMetSecondary text-sm md:text-base xl:text-lg">Submit data</span>
                  <img class="h-5 my-auto" src='{% static "images/right-arrow.png" %}' alt="Right Arrow">
               </a>
         </div>
      </div>

      <!-- Sponsors section -->
      <div class="block my-12 lg:mt-40">
         <h1 class="text-3xl font-semibold pb-7 xl:text-5xl lg:text-center">Sponsors</h1>
         <img class="lg:mx-auto" src='{% static "images/CardiffMet-logo.png" %}' alt="CardiffMet Logo Sponsor">
      </div>
   </main>

   <!-- Footer -->
   {% include "footer.html" %}

</body>
</html>