{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   {% tailwind_css %}
</head>
<body>
   
   <footer>
      <div>
         <!-- Logo -->
         <div>
            <img src="" alt="Logo icon">
            <div>
               <span>Extrasynaptome</span>
               <span>Central Data Repository</span>
            </div>
         </div>

         <!-- Other Page Links -->
         <div>
            <li>
               <a href="#">Privacy Policy</a>
            </li>
            <li>
               <a href="#">Terms & Conditions</a>
            </li>
            <li>
               <a href="#">Versioning</a>
            </li>
            <li>
               <a href="#">Key Papers</a>
            </li>
            <br>
            <li>
               <a href="#">Key Websites</a>
            </li>
            <li>
               <a href="#">Contact Form</a>
            </li>
         </div>

         <!-- Social Media Links -->
         <div>
            <div>
               <img src="" alt="Twitter Icon">
            </div>
            <div>
               <img src="" alt="Facebook Icon">
            </div>
            <div>
               <img src="" alt="GitHub Icon">
            </div>
            <div>
               <img src="" alt="Instagram Icon">
            </div>
         </div>

         <!-- Credits -->
         <div>
            <img src="" alt="Globe image">
            <p>UK | 2022</p>
         </div>
         <div>
            <p>The Bentley Laboratory</p>
            <p>Cardiff School of Technologies</p>
            <p>Cardiff Metropolitan University, UK</p>
         </div>
      </div>
   </footer>

</body>
</html>