{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   {% tailwind_css %}
</head>
<body>
   
   <footer class="bg-cardiffMetPrimary">
      <div class="block w-11/12 mx-auto py-12 lg:w-3/5 lg:py-20">
         <!-- Logo -->
         <div class="flex gap-1 pb-12 lg:justify-center lg:pb-20">
            <img class="h-9 lg:h-12" src='{% static "icons/neuron-project-logo-white.png" %}' alt="Logo icon">
            <div>
               <p class="text-white text-2xl font-bold tracking-wide lg:text-4xl">SYNAPTIVE</p>
            </div>
         </div>

         <!-- Other Page Links -->
         <div class="flex gap-5 mb-1 lg:justify-between lg:gap-10 lg:mb-20 text-center">
            <div class="flex">
               <a class="text-zinc-200 text-xs my-auto lg:text-base hover:text-zinc-400" href="#">Privacy Policy</a>
            </div>
            <div class="flex">
               <a class="text-zinc-200 text-xs my-auto lg:text-base hover:text-zinc-400" href="#">Terms & Conditions</a>
            </div>
            <div class="flex">
               <a class="text-zinc-200 text-xs my-auto lg:text-base hover:text-zinc-400" href="#">Versioning</a>
            </div>
            <div class="flex">
               <a class="text-zinc-200 text-xs my-auto lg:text-base hover:text-zinc-400" href="{% url 'contactuspage' %}">Contact Form</a>
            </div>
            <div class="flex">
               <a class="text-zinc-200 text-xs my-auto lg:text-base hover:text-zinc-400" href="{% url 'keyappsources' %}">Key Sources</a>
            </div>
         </div>

         <!-- Social Media Links -->
         <div class="flex my-12 gap-5 lg:justify-center lg:gap-8 lg:mb-20">
            <div class="bg-zinc-200 rounded-full hover:bg-zinc-400">
               <a href="#"><img class="h-10 lg:h-14 p-1 lg:m-1" src='{% static "icons/twitter-logo.png" %}' alt="Twitter Icon"></a>
            </div>
            <div class="bg-zinc-200 rounded-full hover:bg-zinc-400">
               <a href="#"><img class="h-10 lg:h-14 p-2 lg:m-1" src='{% static "icons/facebook-logo.png" %}' alt="Facebook Icon"></a>
            </div>
            <div class="bg-zinc-200 rounded-full hover:bg-zinc-400">
               <a href="#"><img class="h-10 lg:h-14 p-1 lg:m-1" src='{% static "icons/github-logo.png" %}' alt="GitHub Icon"></a>
            </div>
            <div class="bg-zinc-200 rounded-full hover:bg-zinc-400">
               <a href="#"><img class="h-10 lg:h-14 p-2 lg:m-1" src='{% static "icons/instagram-logo.png" %}' alt="Instagram Icon"></a>
            </div>
         </div>

         <!-- Credits -->
         <div class="flex gap-1 justify-end">
            <img class="h-3 my-auto lg:h-4" src='{% static "icons/earth-logo-grey.png" %}' alt="Globe image">
            <p class="text-zinc-200 text-xs lg:text-sm">UK | 2022</p>
         </div>
         <div class="block">
            <p class="text-xs text-zinc-200 lg:text-sm">The Bentley Laboratory</p>
            <p class="text-xs text-zinc-200 lg:text-sm">Cardiff School of Technologies</p>
            <p class="text-xs text-zinc-200 lg:text-sm">Cardiff Metropolitan University, UK</p>
         </div>
      </div>
   </footer>

</body>
</html>