{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us Page</title>
  <link rel ="icon" href="{% static 'icons/neuron-project-logo-blue.png' %}" type ="image/x-icon">
  {% tailwind_css %}
</head>
<body>
  
  <!-- Navigation bar -->
  {% include "navbar.html" %}

  

  <!-- Footer -->
  {% include "footer.html" %}

</body>
</html>